<?xml version="1.0"?>
<!--
/**
 * Copyright © RedChamps, All rights reserved.
 * See LICENSE bundled with this library for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="RedChamps\CleanMenu\Model\Config\Backend\Modules" type="RedChamps\CleanMenu\Model\Config\Backend\Cache">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="cache_tags" xsi:type="array">
                    <item name="admin_menu" xsi:type="const">Magento\Backend\Block\Menu::CACHE_TAGS</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
</config>
