<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Backend\Model\Menu\Builder\AbstractCommand">
        <plugin sortOrder="1" name="moduleForestCleanMenuAbstractCommand" type="RedChamps\CleanMenu\Plugin\Model\MenuBuilderCommand"/>
    </type>
    <type name="Magento\Backend\Block\Menu">
        <plugin sortOrder="1" name="moduleForestCleanMenuMenu" type="RedChamps\CleanMenu\Plugin\Block\MenuBlock"/>
    </type>
    <type name="Magento\Backend\Model\Menu\Item">
        <plugin sortOrder="1" name="moduleForestCleanMenuItem" type="RedChamps\CleanMenu\Plugin\Model\MenuItem"/>
    </type>
    <type name="Magento\Config\Model\Config\Structure">
        <plugin sortOrder="1" name="redChampsCleanMenuStructure" type="RedChamps\CleanMenu\Plugin\Model\ConfigStructure"/>
    </type>
    <virtualType name="RedChamps\CleanMenu\Model\Config\Backend\Modules" type="RedChamps\CleanMenu\Model\Config\Backend\Cache">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="cache_tags" xsi:type="array">
                    <item name="admin_menu" xsi:type="const">Magento\Backend\Block\Menu::CACHE_TAGS</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="RedChamps\CleanMenu\Model\Config\Source\Modules" type="RedChamps\CleanMenu\Model\Config\Source\Options">
        <arguments>
            <argument name="list" xsi:type="object">RedChamps\CleanMenu\Model\CustomModuleList</argument>
        </arguments>
    </virtualType>
    <virtualType name="RedChamps\CleanMenu\Model\Config\Source\Tabs" type="RedChamps\CleanMenu\Model\Config\Source\Options">
        <arguments>
            <argument name="list" xsi:type="object">RedChamps\CleanMenu\Model\CustomTabList</argument>
        </arguments>
    </virtualType>
</config>
