<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="extensions_list" translate="label" sortOrder="999999">
            <label>Extensions</label>
        </tab>
        <section id="extensions_list_settings" translate="label" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="1">
            <tab>extensions_list</tab>
            <label>Settings</label>
            <resource>RedChamps_CleanMenu::extensions_settings</resource>
            <group id="general" translate="label" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="10">
                <label>General</label>
                <field id="allowed_modules" type="multiselect" translate="label comment" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="10">
                    <label>Modules in menu</label>
                    <source_model>RedChamps\CleanMenu\Model\Config\Source\Modules</source_model>
                    <backend_model>RedChamps\CleanMenu\Model\Config\Backend\Modules</backend_model>
                    <can_be_empty>1</can_be_empty>
                    <config_path>extensions_list_settings/general/allowed_modules</config_path>
                    <comment>We will allow the selected modules to have their own menus.</comment>
                </field>
                <field id="rule_modules" type="select" translate="label comment" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="20" canRestore="1">
                    <label>Rule</label>
                    <source_model>RedChamps\CleanMenu\Model\Config\Source\Rules</source_model>
                    <backend_model>RedChamps\CleanMenu\Model\Config\Backend\Modules</backend_model>
                    <config_path>extensions_list_settings/general/rule_modules</config_path>
                    <comment>We will change the behavior of the allowed module list.</comment>
                </field>
                <field id="allowed_tabs" type="multiselect" translate="label comment" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="30" canRestore="1">
                    <label>Tabs in configuration</label>
                    <source_model>RedChamps\CleanMenu\Model\Config\Source\Tabs</source_model>
                    <can_be_empty>1</can_be_empty>
                    <config_path>extensions_list_settings/general/allowed_tabs</config_path>
                    <comment>We will allow the selected tabs in the config section.</comment>
                </field>
                <field id="rule_tabs" type="select" translate="label comment" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="40" canRestore="1">
                    <label>Rule</label>
                    <source_model>RedChamps\CleanMenu\Model\Config\Source\Rules</source_model>
                    <config_path>extensions_list_settings/general/rule_tabs</config_path>
                    <comment>We will change the behavior of the allowed tab list.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
