<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="extensions_list" translate="label" sortOrder="999999">
            <label>Extensions</label>
        </tab>
        <tab id="redchamps" translate="label" sortOrder="999999">
            <label>RedChamps</label>
        </tab>
        <section id="clean_admin_menu" translate="label" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="1">
            <tab>redchamps</tab>
            <label>Clean Admin Menu</label>
            <resource>RedChamps_CleanMenu::settings</resource>
            <group id="settings" translate="label" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="10">
                <label>General</label>
                <field id="allowed_modules" type="multiselect" translate="label comment" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="10" canRestore="1">
                    <label>Modules in menu</label>
                    <source_model>RedChamps\CleanMenu\Model\Config\Source\Modules</source_model>
                    <backend_model>RedChamps\CleanMenu\Model\Config\Backend\Modules</backend_model>
                    <can_be_empty>1</can_be_empty>
                    <config_path>clean_admin_menu/settings/allowed_modules</config_path>
                    <comment>We will allow the selected modules to have their own menus if they have their own.</comment>
                </field>
                <field id="rule_modules" type="select" translate="label comment" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="20" canRestore="1">
                    <label>Rule</label>
                    <source_model>RedChamps\CleanMenu\Model\Config\Source\Rules</source_model>
                    <backend_model>RedChamps\CleanMenu\Model\Config\Backend\Modules</backend_model>
                    <config_path>clean_admin_menu/settings/rule_modules</config_path>
                    <comment>We will change the behavior of the allowed module list.</comment>
                </field>
                <field id="enable_marketplace" type="select" translate="label comment" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="30" canRestore="1">
                    <label>Magento Marketplace menu item</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <backend_model>RedChamps\CleanMenu\Model\Config\Backend\Modules</backend_model>
                    <config_path>clean_admin_menu/settings/enable_marketplace</config_path>
                    <comment>We will remove the Magento Marketplace menu item if disabled.</comment>
                </field>
                <field id="move_marketplace" type="select" translate="label comment" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="40" canRestore="1">
                    <depends>
                        <field id="clean_admin_menu/settings/enable_marketplace">1</field>
                    </depends>
                    <label>Move Magento Marketplace menu item</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <backend_model>RedChamps\CleanMenu\Model\Config\Backend\Modules</backend_model>
                    <config_path>clean_admin_menu/settings/move_marketplace</config_path>
                    <comment>We will move the Magento Marketplace menu item to the "extensions" menu.</comment>
                </field>
                <field id="allowed_tabs" type="multiselect" translate="label comment" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="50" canRestore="1">
                    <label>Tabs in configuration</label>
                    <source_model>RedChamps\CleanMenu\Model\Config\Source\Tabs</source_model>
                    <can_be_empty>1</can_be_empty>
                    <config_path>clean_admin_menu/settings/allowed_tabs</config_path>
                    <comment>We will allow the selected tabs in the config section.</comment>
                </field>
                <field id="rule_tabs" type="select" translate="label comment" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="60" canRestore="1">
                    <label>Rule</label>
                    <source_model>RedChamps\CleanMenu\Model\Config\Source\Rules</source_model>
                    <config_path>clean_admin_menu/settings/rule_tabs</config_path>
                    <comment>We will change the behavior of the allowed tab list.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
